/*
  *****
  *****
  Container
*/
@mixin Container {
  width: 80%;
  margin: 0 auto;
}
/*
  *****
  *****
  Navigation
*/
@mixin Navbar-Height {
  height: 10vh;
  width: 100%;
}
// Used TOO BY SHOWCASE
@mixin Navbar-Flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*
  *****
  *****
  Background
*/
@mixin Background-Showcase {
  background-blend-mode: multiply;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
